= render "layouts/phone_admin_sidebar"
%h1= @pbx.name

%p Find me in app/views/dashboard/index.html.haml

%p This will be the main administration page for a given PBX

%p This would be a great place for some CDR or something:

- @dashboard_boxes.in_groups_of(4, false) do |row|
  .row
    - row.each do |box|
      .span3
        = link_to box[:link], :class => 'well' do
          %h3.well-title
            %i{:class => box[:icon]}
            = box[:title]
          %hr.well-divider
          .well-content= box[:content]



