= form_for [:admin, @extension_ring_group] do |f|
  .form-horizontal
    - if @extension_ring_group.errors.any?
      #error_explanation
        %h2= "#{pluralize(@extension_ring_group.errors.count, "error")} prohibited this extension from being saved:"
        %ul
          - @extension.errors.full_messages.each do |msg|
            %li= msg

    %ul.nav.nav-tabs
      %li.active
        =link_to "#general-tab", data: { toggle: 'tab' } do
          General
      %li 
        =link_to "#members-tab", data: { toggle: 'tab' } do 
          Members
      %li 
        =link_to "#voicemail-tab", data: { toggle: 'tab' } do 
          Voicemail
      %li
        =link_to "#voicemail-access-tab", data: { toggle: 'tab' } do
          Voicemail Acces
      %li 
        =link_to "#recording-tab", data: { toggle: 'tab' } do 
          Recording

    .tab-content
      #general-tab.tab-pane.active
        %h6 Extension
        .control-group
          .control-label 
            = f.label :name
          .controls
            = f.text_field :name
        .control-group
          .control-label 
            = f.label :number
          .controls
            = f.text_field :number
        .control-group
          .control-label
            = f.label :omit_from_directory
          .controls
            = f.check_box :omit_from_directory
        .controls
          = f.submit 'Save', class: "btn btn-primary"

        %h6 Options
        .control-group
          .control-label
            = f.label :ring_timeout
          .controls
            = f.check_box :ring_timeout
        .control-group
          .control-label
            = f.label :follow_device_forwards
          .controls
            = f.check_box :follow_device_forwards
        .control-group
          .control-label
            = f.label :confirm_pickup
          .controls
            = f.check_box :confirm_pickup
        .control-group
          .control-label
            = f.label :ring_back
          .controls
            = f.text_field :ring_back
        .control-group
          .control-label
            = f.label :intercept_incoming_faxes
          .controls
            = f.check_box :intercept_incoming_faxes
        .control-group
          .control-label
            = f.label :fax_email_destination
          .controls
            = f.text_field :fax_email_destination
        .controls
        = f.submit 'Save', class: "btn btn-primary"

      #members-tab.tab-pane
        %h6 Members
        / Show a listing of all of the ring group members here. 
        / Preferable in boxes like the extensions
        .controls
          = f.submit 'Save', class: "btn btn-primary"

      #voicemail-tab.tab-pane
        %h6 General Options
        .control-group
          .control-label
            = f.label :voicemail_time_zone
          .controls
            = f.text_field :voicemail_time_zone
        .control-group
          .control-label
            = f.label :allow_message_review
          .controls
            = f.check_box :allow_message_review
        .control-group
          .control-label
            = f.label :escape_to_operator
          .controls
            = f.text_field :escape_to_operator
        .controls
          = f.submit 'Save', class: "btn btn-primary"

        %h6 Notification Options
        .control-group
          .control-label
            = f.label :send_email_notifications
          .controls
            = f.check_box :send_email_notifications
        .control-group
          .control-label
            = f.label :attach_voicemail_message
          .controls
            = f.check_box :attach_voicemail_message
        .control-group
          .control-label
            = f.label :delete_message_after_send
          .controls
            = f.check_box :delete_message_after_send
        .control-group
          .control-label
            = f.label :message_email_address
          .controls
            = f.text_field :message_email_address
        .controls
          = f.submit 'Save', class: "btn btn-primary"

        %h6 Message Retrieval Options
        .control-group
          .control-label
            = f.label :say_message_timestamp
          .controls
            = f.check_box :say_message_timestamp
        .control-group
          .control-label
            = f.label :say_callerid
          .controls
            = f.check_box :say_callerid
        .control-group
          .control-label
            = f.label :say_message_duration
          .controls
            = f.number_field :say_message_duration
        .controls
          = f.submit 'Save', class: "btn btn-primary"

        %h6 Outgoing Message Options
        .control-group
          .control-label
            = f.label :outgoing_message_busy
          .controls
            = f.text_field :outgoing_message_busy
        .control-group
          .control-label
            = f.label :outgoing_message_unavailable
          .controls
            = f.text_field :outgoing_message_unavailable
        .control-group
          .control-label
            = f.label :outgoing_message_temporary
          .controls
            = f.text_field :outgoing_message_temporary
        .controls
          = f.submit 'Save', class: "btn btn-primary"

        %h6 Alternate Mailbox
        .control-group
          .control-label
            = f.label :alternate_mailbox_location
          .controls
            = f.text_field :alternate_mailbox_location
        .controls
          = f.submit 'Save', class: "btn btn-primary"

      #voicemail-access-tab.tab-pane
        %h6 Voicemail Box Password
        .control-group
          .control-label
            = f.label :voicemail_box_password
          .controls
            = f.number_field :voicemail_box_password
        .controls
          = f.submit 'Save', class: "btn btn-primary"

      #recording-tab.tab-pane
        %h6 Call Recording
        .control-group
          .control-label
            = f.label :call_recording_location
          .controls
            = f.text_field :call_recording_location
        .controls
          = f.submit 'Save', class: "btn btn-primary"
