= form_for @corporate_directory do |f|
  - if @corporate_directory.errors.any?
    #error_explanation
      %h2= "#{pluralize(@corporate_directory.errors.count, "error")} prohibited this corporate_directory from being saved:"
      %ul
        - @corporate_directory.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :name
    = f.text_field :name
  .actions
    = f.submit 'Save'
