=render "layouts/phone_admin_sidebar"
%h3 PBX User Groups for:
%h1= @pbx.name

- @pbx_user_groups.each do |pbx_user_group|
  .row
    .span8
      = link_to admin_pbx_user_group_path(pbx_user_group), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        .well-title.pull-right 
          %i{class: 'icon-remove-2', style: "margin-top:15px;"}

      = link_to edit_admin_pbx_user_group_path(pbx_user_group), :class => 'well' do
        %h3.well-title
          %i{:class => 'icon-group'}
          = pbx_user_group.name
        %hr.well-divider
        .well-content
          = "Members: " + pbx_user_group.members
          .pull-right
            Other information
= link_to 'New Pbx user group', new_admin_pbx_user_group_path
