= form_for [:admin, @device] do |f|
  - if @device.errors.any?
    #error_explanation
      %h2= "#{pluralize(@device.errors.count, "error")} prohibited this device from being saved:"
      %ul
        - @device.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :assigned_user
    = f.collection_select :assigned_user_id, @users_for_select, :id, :full_name, include_blank: true
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :station_label
    = f.text_field :station_label
  .field
    = f.label :time_zone
    = f.time_zone_select :time_zone
  .field
    = f.label :paging_profile
    %em Ignore paging profile for now
  .field
    = f.label :corporate_directory
    %em Ignore corporate_directory for now
  .field
    = f.label :allow_provision_retrieval
    = f.check_box :allow_provision_retrieval
  .field
    = f.label :device_type
    = f.text_field :device_type
  .field
    = f.label :device_mac_address
    = f.text_field :device_mac_address
  .field
    = f.label :last_provisioned_time
    = f.datetime_select :last_provisioned_time
  .field
    = f.label :last_provisioned_from
    = f.text_field :last_provisioned_from
  .field
    = f.label :allow_device_to_monitor
    = f.check_box :allow_device_to_monitor
  .actions
    = f.submit 'Save'
