=render "layouts/phone_admin_sidebar"
%h1 Listing devices

%table
  %tr
    %th 
    %th Assigned User
    %th Device Name
    %th
    %th

  - @devices.each do |device|
    %tr
      %td= link_to "", edit_admin_device_path(device), class: "big-icon-iphone-shake"
      %td= link_to device.assigned_user.full_name, edit_admin_device_path(device)
      %td= link_to device.name, edit_admin_device_path(device)
      %td= link_to 'Destroy', admin_devices_path(device), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Device', new_admin_device_path
