=render "layouts/phone_admin_sidebar"
%h3 Extensions for:
%h1= @pbx.name

- @extensions.each do |extension|
  .row
    .span8
      = link_to admin_extensions_path(extension), :method => :delete, :data => { :confirm => 'Are you sure?' } do
        .well-title.pull-right 
          %i{class: 'icon-remove-2', style: "margin-top:15px;"}

      = link_to edit_admin_extension_path(extension), :class => 'well' do
        %h3.well-title
          %i{:class => icon_helper(extension.type)}
          = extension.name
        %hr.well-divider
        .well-content
          = "Extension Name: " + extension.name
          .pull-right
            = "Device MAC: " + "TODO: Set the action for the PBX"
          %br  
          = "Number: " + extension.number
          .pull-right
            = "Last Provisioned: " + "what to put here?"
          %br
          = "Extension Type: " + extension.show_friendly_type
= link_to 'New Extension', new_admin_extension_path
