=render "layouts/phone_admin_sidebar"
%h1 Listing extensions

%table.table-striped.table-hover.table-bordered.table-responsive
  %tr
    %th 
    %th Number
    %th Extension Name
    %th Extension Type
    %th

  - @extensions.each do |extension|
    %tr
      %td= link_to "", edit_admin_extension_path(extension), class: icon_helper(extension.type)
      %td= link_to extension.number, edit_admin_extension_path(extension)
      %td= link_to extension.name, edit_admin_extension_path(extension)
      %td= link_to extension.type, edit_admin_extension_path(extension)
      %td= link_to 'Destroy', admin_extensions_path(extension), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Extension', new_admin_extension_path
