= render 'layouts/phone_admin_sidebar'

%h3 Phone Number Details for:
%h1= @pbx.name

%p#notice= notice

= form_for [:super_admin, @phone_number] do |f|
  .form-horizontal
    - if @phone_number.errors.any?
      #error_explanation
        %h2= "#{pluralize(@pbx_user_group.errors.count, "error")} prohibited this pbx_user_group from being saved:"
        %ul
          - @pbx_user_group.errors.full_messages.each do |msg|
            %li= msg
    .control-group
      .control-label
        = f.label :name
      .controls
        = f.text_field :name
    .control-group
      .control-label
        = f.label :number
      .controls
        =f.text_field :number, disabled: true
    .control-group
      .control-label
        = f.label :caller_identification
      .controls
        =f.text_field :caller_identification, disabled: true
    .control-group
      .control-label
        = f.label :block_caller_id
      .controls
        = f.check_box :block_caller_id
    .control-group
      .control-label
        = f.label :phone_number_type
      .controls
        = f.text_field :phone_number_type, disabled: true
    .control-group
      .control-label
        = f.label :call_endpoint
      .controls
        = f.text_field :call_endpoint 
        / TODO: later make this a select for all extensions
    .control-group
      .control-label
        = f.label :hold_music_id
      .controls
        = f.text_field :hold_music_id
    .control-group
      .control-label 
        = f.label :call_recording_location
      .controls
        = f.text_field :call_recording_location
    .controls
      = f.submit "Update Number", class: "btn btn-primary"

= link_to 'Edit', edit_super_admin_phone_number_path(@phone_number) if current_user.has_role?(:super_admin)
\|
= link_to 'Back', admin_phone_numbers_path
