= render 'layouts/phone_admin_sidebar'
%p#notice= notice

%p
  %b Pbx:
  = @pbx_user.pbx_id
%p
  %b First name:
  = @pbx_user.first_name
%p
  %b Last name:
  = @pbx_user.last_name
%p
  %b Email:
  = @pbx_user.email
%p
  %b Dialable username:
  = @pbx_user.dialable_username
%p
  %b Sysadmin user:
  = @pbx_user.sysadmin_user_id
%p
  %b Sysadmin login enabled:
  = @pbx_user.sysadmin_login_enabled

= link_to 'Edit', edit_admin_pbx_user_path(@pbx_user)
\|
= link_to 'Back', admin_pbx_users_path
