= content_for :sidebar do
  %ul
    %li= link_to "Home", admin_dashboard_path
    %li= link_to "Users", admin_pbx_users_path
    %li= link_to "User Groups", admin_pbx_user_groups_path
    %li= link_to "Phone Numbers", admin_phone_numbers_path
    %li= link_to "Devices", admin_devices_path
    %li= link_to "Extensions", admin_extensions_path
    %ul
      %li Lines
      %li Ring Groups
      %li Conference Rooms
      %li Call Queues
      %li Dial Plans
      %li Shared Voicemail Boxes
      %li Virtual Fax Machines
    %li Hold Music
    %li Sound Clips
    %li Directories
    %li Schedules
    %li Permissions
    %li System Settings