= content_for :sidebar do
  .well
    %ul
      %li= link_to "Home", admin_dashboard_path, :class => is_active?("admin/dashboard")
      %li= link_to "Users", admin_pbx_users_path, :class => is_active?("admin/pbx_users")
      %li= link_to "User Groups", admin_pbx_user_groups_path, :class => is_active?("admin/pbx_user_groups")
      %li= link_to "Phone Numbers", admin_phone_numbers_path, :class => is_active?("admin/phone_numbers")
      %li= link_to "Devices", admin_devices_path, :class => is_active?("admin/devices")
      %li= link_to "Extensions", admin_extensions_path, :class => is_active?("admin/extensions")
      %ul
        %li= link_to "Lines", admin_extension_lines_index_path, :class => is_active?("admin/extensions")
        %li= link_to "Ring Groups", admin_extension_ring_groups_index_path, :class => is_active?("admin/extensions")
        %li= link_to "Conference Rooms", admin_extension_conference_rooms_index_path, :class => is_active?("admin/extensions")
        %li= link_to "Call Queues", admin_extension_call_queues_index_path, :class => is_active?("admin/extensions")
        %li= link_to "Dial Plans", admin_extension_dial_plans_index_path, :class => is_active?("admin/extensions")
        %li= link_to "Shared Voicemail Boxes", admin_extension_shared_voicemail_boxes_index_path, :class => is_active?("admin/extensions")
        %li= link_to "Virtual Fax Machines", admin_extension_virtual_fax_machines_index_path, :class => is_active?("admin/extensions")
      %li Hold Music
      %li Sound Clips
      %li Directories
      %li Schedules
      %li Permissions
      %li System Settings